.row+.row {
    margin-top: 1rem;
}

.icon-wrap {
    color: #FF4136;
    display: inline;
    position: relative;
}
.icon-wrap:hover {
    cursor: pointer;
}
.icon-wrap span {
    position: absolute;

}
.name-temp-wrap {
    padding: 20px 2%;
    border: 5px solid #7FDBFF;
    background: #29b6f6;
    
}
.name-temp-wrap h1{
    color: #fff;
    font-weight: normal;
    display: inline-block;
} 
.name-temp-wrap h2 {
    color: #fff;
    font-weight: normal;
}

