<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for current weather..." name="cityName" [(ngModel)]=cityName>
          <span class="input-group-btn">
            <button (click)="getWeather(cityName)" class="btn btn-secondary">Search</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-sm-6 -->
    </div>
    <div class="row justify-content-sm-center">
      <div class="col-sm-6">
        <div class="name-temp-wrap">
          <div>
            <h1>{{cityNameActual}}</h1>
            <div class="icon-wrap" (click)="addOrRemoveFav()">
              <span class="fa {{favoriteIcon}}" aria-hidden="true"></span>
            </div>


            <h2>{{cityTemperature}}</h2>
          </div>

        </div>
      </div>
    </div>
    <div class="row justify-content-sm-center">
      <div class="col-sm-6">
      <!-- favs list -->
        <h3>Favorites</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let favCity of localStorageArray" >
            <a class="" (click)="getWeather( favCity )">{{ favCity }}</a>
          </li>
        </ul>
      </div>


    </div>
  </div><!-- /.container -->
</div>






